.containerTitulo {
    display: flex;
    gap: 1rem;

    padding: 0.5rem;
    margin: 1rem 0rem 2rem 0rem;

    border-radius: 10px;
    border: 1px solid rgba(156, 200, 211, 0.548);

    box-shadow: 0px 5px 15px 1px rgb(127, 189, 230);
}

.containerDescricao {
    padding: 0.5rem;

    border-radius: 10px;
    border: 1px solid rgba(156, 200, 211, 0.548);

    box-shadow: 0px 5px 15px 1px rgb(127, 189, 230);
}

h4 {
    font-weight: 500;
    color: rgb(104, 104, 145);
}

p {
    max-width: 27rem;

    word-wrap: break-word;
    white-space: normal;

    font-weight: 300;
}
