.container {
    width: 22rem;
    height: auto;

    margin-top: 1.5rem;

    border-radius: 10px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 2.5rem;
        padding: 1rem;

        font-size: 14px;
        list-style: none;

        border: none;
        border-radius: 10px;

        color: rgb(82, 80, 80);
        background-color: rgb(225, 230, 245);

        &:hover {
            box-shadow: 1px 1px 15px 5px rgb(100, 131, 172);
        }
    }
}

.buttonsAction {
    display: flex;
    gap: 0.2rem;

    button {
        width: 2rem;
        height: 1.5rem;

        border: none;
        border-radius: 10px;
        background-color: transparent;

        font-size: 15px;
        font-weight: 600;

        transition: transform 0.4s ease;
    }

    .buttonDetail {
        color: rgb(6, 115, 134);
        cursor: pointer;

        &:hover {
            transform: rotate(180deg);
            box-shadow: 1px 1px 15px 5px rgb(6, 115, 134);
        }
    }

    .buttonDelete {
        color: rgb(138, 2, 2);
        cursor: pointer;

        &:hover {
            transform: rotate(90deg);
            box-shadow: 1px 1px 15px 5px rgb(138, 2, 2);
        }
    }
}
